tbody tr:hover {
    background-color: #a6c9e2;
}

tbody {
    display: block;
    max-height: 370px;
    overflow-y: auto;
    scrollbar-width: thin;
}

th, tr {
    text-align: center;
    user-select: none;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#mainContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
